:root{
  background-color: #9e9e9e;
}
#box{
   margin: 10px;
   padding: 10px;
   width: 500px;
   height: 300px;
   border: 1px solid black; 
}
.box1 {
  background-color: lightblue;
  float: left;
 
}
.box2{
  background-color: cyan;
  float: right;
  clear:right;
}
.box3{
  background-color: lightgreen;
  position: relative;
  left: 330px;
  top: 500px;

}
.head1{
  padding-top: 10px;
  padding-left: 130px;
  padding-right: 130px;
  border: 1px solid purple;
  background-color: grey;
  position: fixed;
  left: 19px;
  right: 747px;
  top: 10;
}
.head2{
  padding-top: 10px;
  padding-left: 170px;
  padding-right: 10px;
  border: 1px solid purple;
  background-color: lightblue;
  position: fixed;
  left: 747px;
  right: 19px;
  margin-bottom: 50px;
}
.head3{
  padding-top: 10px;
  padding-left: 170px;
  padding-right: 10px;
  border: 1px solid purple;
  background-color: grey;
  position: fixed;
  left: 348px;
  right: 417px;
  
  margin-top: 500px;
}
a:link{
  background-color: gray;
}
a:hover{
  background-color: #f44336;
}
.ul1, .ul2{
  padding-top: 50px;
}
.ul3{
  padding-top: 0px;
}