

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 900px;
    overflow: auto;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.fleft {
	float: left;
}

.fright {
	float: right;
}

.pic1{
    width: 60px;
    margin: auto;
}

.span_content{
    padding-left: 50px;
    width: 600px;
    overflow: hidden;
}

.content__wrapper {
    width: 100%;
    display: inline-block;
}

.content__nav {
    width: 100%;
}

.attach_1{
    background-color: burlywood;
}


.item {
    padding: 10px 0px 0px 10px;
    text-decoration: none;
    padding-top: center;
    display: block;
    height: 80px;
    border-bottom: #5e6d7d solid 1px;
}
