*{
   font-family: 'OpenSans'; 
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.fleft {
	float: left;
}

.fright {
	float: right;
}

@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf) format("truetype"),
		 url(../fonts/OpenSans/opensans-regular-webfont.woff) format("woff"),
		 url(../fonts/OpenSans/opensans-regular-webfont.woff2) format("woff2");
    font-weight: 400;
	font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans/OpenSans-bold.ttf) format("truetype"),
		 url(../fonts/OpenSans/opensans-bold-webfont.woff) format("woff"),
		 url(../fonts/OpenSans/opensans-bold-webfont.woff2) format("woff2");
    font-weight: 700;
	font-style: bold;
}

html{
    overflow: hidden;
    font-family: 'OpenSans';
    font-weight: 400;
}
.page__wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header__layout{
    width: 100%;
}

.header{
    width: 100%;
    background-image: url(../images/main-hdr-bg.jpg);
}

.button__dashboard{
    background-image:url(../images/dashboard-btn.png);
    background-repeat: no-repeat;
    width: 44px;
    height: 35px;
    border: #514e4d solid 1px;
    border-radius: 2px;
    margin: 3px 305px 0px 20px;
}

.header__nav{
    margin: 0;
    list-style-type: none;
}


.item__13-nav{
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}
.nav__item_13{
    float: left;
    list-style-type: none;
    display: block;
    text-align: center;
    text-decoration: none; 
    padding-left: 7px;
}

.item_13-nav_11{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-item.png) 0 0; 
}
.item_13-nav_21{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-deactive.png) -62px 0; 
}
.item_13-nav_31{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-deactive.png) -125px 0; 
}

.item_13-nav_12{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-item.png) 0 -27px; 
}
.item_13-nav_22{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-item.png) -65px -26px;  
}
.item_13-nav_32{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-item.png) -125px -27px;
}


.item__13-t1{
    float: right;
    padding: 2px 7px 0px 10px;
    font-size: 15px;
}
.item__13-t2{
    float: right;
    padding: 2px 5px 0px 0px;
    color: #898989;
    font-size: 15px;
}




.item_23-nav_11{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-deactive.png) 0 0; 
}
.item_23-nav_21{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-item.png) -67px 0; 
}
.item_23-nav_31{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-item.png) -125px 0; 
}

.item_23-nav_12{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-item.png) 0 -27px; 
}
.item_23-nav_22{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-deactive.png) -62px -26px;  
}
.item_23-nav_32{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-deactive.png) -125px -27px;
}

.item_33-nav_11{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-item.png) 0 0; 
}
.item_33-nav_21{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-item.png) -67px 0; 
}
.item_33-nav_31{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-item.png) -125px 0; 
}

.item_33-nav_12{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-item.png) 0 -27px; 
}
.item_33-nav_22{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-item.png) -65px -26px;  
}
.item_33-nav_32{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-item.png) -125px -27px;
}

.item_43-nav_11{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-deactive.png) 0 0; 
}
.item_43-nav_21{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-deactive.png) -67px 0; 
}
.item_43-nav_31{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-deactive.png) -125px 0; 
}

.item_43-nav_12{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-item.png) 0 -27px; 
}
.item_43-nav_22{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-item.png) -65px -26px;  
}
.item_43-nav_32{
    width: 30px;
    height: 20px;
    border: #f2f2f2 solid 1px;
    background-color: #f3f3f3;
    background: url(../images/icon-item.png) -125px -27px;
}



.nav__item{
    float: left;
    list-style-type: none;
    display: block;
    text-align: center;
    text-decoration: none;  
}

.nav_1{
    
    width: 70px;
    height: 43px;
    background: url(../images/tab-navi.png) 0 0; 
}
.nav_2{
     width: 70px;
    height: 43px;
    background: url(../images/tab-navi.png) -85px 0;
}
.nav_3{
     width: 70px;
    height: 43px;
    background: url(../images/tab-navi.png) -164px 0;
}
.nav_4{
     width: 70px;
    height: 43px;
    background: url(../images/tab-navi.png) -240px 0;
}
.nav_5{
     width: 70px;
    height: 43px;
    background: url(../images/tab-navi.png) -318px 0;
}
.nav_6{
     width: 70px;
    height: 43px;
    background: url(../images/tab-navi.png) -397px 0;
}


.button__plus{
    background-image:url(../images/plus-btn.png);
    background-repeat: no-repeat;
    width: 43px;
    height: 35px;
    border: #514e4d solid 1px;
    border-radius: 2px;
    margin: 3px 20px 0px 0px;
}

.header__content{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 20px 0px 0px 20px;
}

.header__content-text_1{
    font-size: 20px;
}
.header__content-text_2{
    font-size: 40px;
}

.header__content-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 60px;
    margin-bottom: 30px;
}

.item{
    float: left;
    display: block;
    text-align: center;
    padding: 10px 40px 10px 10px;
    text-decoration: none;
    border-bottom: #ececec solid 1px;
    border-top: #ececec solid 1px;
    border-left: #ececec solid 1px;
    background-color: #fcfcfc;
}
.item__last{
    padding-right: 60px;
    border-right: #ececec solid 1px;
    
}

.header__content-list-1{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.header__content-list-4{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.header__content-list-11{
    font-size: 20px;
}

.header__content-list12{
    font-size: 20px;
}
.header__content-list-11{
    font-weight: 700;
	font-style: bold;
}
.header__content-list-12{
    font-weight: 400;
	font-style: normal;
}

.header__logo{
    height: 150px;
    padding-right: 50px;
}

.header__bottom{
    width: 100%;
    background-image: url(../images/main-hdr-bg.jpg);
}

.button__task {
    width: 150px;
    color: white;
    border: none;
    margin: 8px 20px 8px 0px;
    background-image: url(../images/footr-link-rght.jpg);
    background-repeat: no-repeat;
}
.button__task-plus{
 font-size: 20px;   
}
.button__task-text{
    font-size: 15px;
}

.button__task-image{
    float: left;
}

.header__bottom-content{
   margin: 0;
   padding-top: 15px;
   color: white;
   position: absolute;
   left: 50%;  
   transform: translate(-50%, 0);
}

.content__layout{
    width: 100%;
    background-color: #ffffff;
    width: 1000px;
    overflow-y: scroll;
    height: 320px;
    margin-left: 125px;
}

.content__list {
    text-decoration: none;
    padding-top: 25px;
}

.first__list{
    list-style-type: none;
}

.second__list{
    list-style-type: none;
    background-color: #f9f9f9;
    border-top: #ececec solid 1px;
}

.item__12-attach{
    background-color: #f9f9f9;
    width: 40px;
    height: 25px;
    border: #f2f2f2 solid 1px;
    border-radius: 2px;
    padding: 5px 0px 0px 5px;
    margin-bottom: 10px;
}

.item__11-image{
    width: 150px;
    margin: 30px 0px 10px 0px;
    border: #ececec solid 1px;
}

.item__12{
    padding-left: 20px;
    width: 550px;
    overflow: hidden;
}
.item__13{
    margin-top: 30px;
}

.item__13-image{
    width: 150px;
    margin: 50px 0px 0px 30px;
}

.item__13-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 0px 0px 0px 30px;
}

.item13{
    float: left;
    list-style-type: none;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 20px;
    width: 30px;
    padding: 0px 10px 0px 10px;
}

.item__first{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.item__third{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.item__13-first{
    background-color: #4dc52c;
    border-bottom: #a4da95 solid 1px;
    border-top: #a4da95 solid 1px;
    border-left: #a4da95 solid 1px;
}
.item__13-second{
    background-color: #fd9f32;
    border-bottom: #f3c998 solid 1px;
    border-top: #f3c998 solid 1px;
    border-left: #f3c998 solid 1px;
}
.item__13-third{
    background-color: #f8faf9; 
    border: #f9f4f4 solid 1px;
}

.item__23-first{
    background-color: #4dc52c;
    border-bottom: #a4da95 solid 1px;
    border-top: #a4da95 solid 1px;
    border-left: #a4da95 solid 1px;
}
.item__23-second{
    background-color: #fd9f32;
    border-bottom: #f3c998 solid 1px;
    border-top: #f3c998 solid 1px;
    border-left: #f3c998 solid 1px;
}
.item__23-third{
    background-color: #fd6366; 
    border: #f2ab85 solid 1px;
}


.item__43-first{
    background-color: #4dc52c;
    border-bottom: #a4da95 solid 1px;
    border-top: #a4da95 solid 1px;
    border-left: #a4da95 solid 1px;
}
.item__43-second{
    background-color: #f8faf9;
    border-bottom: #f9f4f4 solid 1px;
    border-top: #f9f4f4 solid 1px;
    border-left: #f9f4f4 solid 1px;
}
.item__43-third{
    background-color: #f8faf9; 
    border-top: #f9f4f4 solid 1px;
    border-bottom: #f9f4f4 solid 1px;
    border-right: #f9f4f4 solid 1px;
}

.item__14-image{
    margin-left: 30px;
}
.item__14{
    margin-top: -60px;
}

.hazard{
    margin: 20px 0px 0px 30px;
    font-size: 13px;
    font-weight: 700;
	font-style: bold;
}
.severity{
    margin: 20px 0px 0px 30px;
    font-size: 13px;
    font-weight: 700;
	font-style: bold;
}

p{
   font-weight: 400;
    font-style: normal;
}
h3{
    font-weight: 400;
	font-style: normal; 
}


.footer{
    background-image: url(../images/footr-bg.jpg);
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: auto;
}
.footer__image{
    margin: 0px 0px 5px 30px;
}
.footer__button{
    background-image: url(../images/dark-blue-lft.png);
    background-repeat: no-repeat;
    border: none;
    margin: 12px 20px 0px 0px;
    padding: 5px;
}
.footer__text{
    color: white;
    font-size: 10px;
}






